/*
    Twitter feed widget
*/
.ipWidget-IptTwitterFeed ul{margin:0!important;padding:0}.ipWidget-IptTwitterFeed ul li{padding:0;margin:0 0 25px 0;list-style-type:none;font-size:13px}.ipWidget-IptTwitterFeed ul li a{text-decoration:none}.ipWidget-IptTwitterFeed ul li a:hover{text-decoration:underline}.ipWidget-IptTwitterFeed ul li .time{font-size:12px;line-height:13px;display:block;color:#787878}